global
  daemon
  maxconn 256

defaults
  mode http
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  option forwardfor
  option http-server-close

frontend http_in
  bind *:80
  default_backend services

backend services
  balance roundrobin
  server api-gateway1 api-gateway:8084 check
  # server api-gateway2 api-gateway:8085 check backup

# Health check
  option httpchk GET /actuator/health
  http-check expect status 200
  
  option httpchk GET /actuator/health
  http-check expect status 401
  

frontend stats
  bind *:1936
  stats enable
  stats uri /
  stats hide-version
  stats auth admin:admin
  
